/************************** ANIMAÇÕES */
@keyframes animacao-caixa{
    from {/*Estado inicial*/
        background: red;
        border-radius: 0px;
        top: 0;
        left: 0;
    }
    to {/*Estado final*/
        background: yellow;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}



#caixa{
    width: 300px;
    height: 300px;
    background: red;
    position: relative;
    /*animation-name: animacao-caixa;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate ;*/

    animation: animacao-caixa 5s 3s 2 alternate;
    -webkit-animation: animacao-caixa 5s 3s 2 alternate;
    -moz-animation: animacao-caixa 5s 3s 2 alternate;
    -o-animation: animacao-caixa 5s 3s 2 alternate;
}



















/*#caixa{
    width: 300px;
    height: 300px;
    background: #009670;
    box-shadow: 20px 20px 5px 10px rgba(0, 0, 0, 0.2);
}

#caixa h1{
    color: white;
    text-shadow: 20px 20px 5px rgba(0, 0, 0, 0.5) ;
    /*text-shadow: 5px 0px red ;*//*
}

/*#caixa{
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border-radius: 22px 200px 22px 100px;
}
#caixa2 {
    width: 400px;
    height: 300px;
    background: #b9c941;

    /*border-radius: 22px 200px 22px 100px;
}
*/